<!-- Main bio and summary -->

<div class="row section">
    <div class="four columns centered">
        <img id="profile-pic" src="./assets/img/profile.png">
        <h3><%= name %></h3>
        <h6><%= occupation %></h6>
        <h6><%= location %></h6>
    </div>
    <div class="eight columns">
        <p><%= summary %></p>
        <%- include('./buttons') %>
    </div>
</div>